@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes widen {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes heighten {
  from {
    transform: scaleY(0);
  }

  to {
    transform: scaleY(1);
  }
}
